* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0E1014;
    color: #FFFFFF;
}

header img {
    display: block;
    margin-top: 75px;
    margin-left: 360px;
}

h1 {
    font-family: "Unbounded", sans-serif;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}

h1 span {
    color: #9747FF;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 24px;
}

a {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;

    display: block;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}